<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="main.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js" defer></script>
  <title>School and Back</title>
</head>

<body>
  <div id="app">


    <div id="topLogo">
      <h1>-----</h1>
    </div>



    <div id="formGrid">

      <div id="leftGrid">
        <div id="clock">
          <p id="time">{{currentTime}}</p>
        </div>

        <div id="formTitleCell">
          <h2>Avgångar från {{userInput}}</h2>
        </div>

        <div id="formCell">
          <form id="formSubmit" @submit.prevent="updateStop(userInput)">
            <label id="labelText" for="stop-input">Skriv in en hållplats:</label>
            <input type="text" id="stop-input" v-model="userInput" placeholder="Where u wanna go">
            <button type="submit" id="updateButton">Uppdatera</button>
          </form>
        </div>
      </div>

      <div id="rightGrid">
        <div id="favoritesCell">
          <form>
            <button type="button" @click="addButton">Add To Favorites</button>
          </form>
          <div id="buttonContainer">
            <div v-for="(buttonText, index) in buttonList" :key="index">
              <button @click="useFavorite(buttonText)">{{ buttonText }}</button>
              <button @click="deleteButton(index)">X</button>
            </div>
          </div>
        </div>
      </div>



    </div>


    <!-- <p>{{stopId[0]}} {{stopId[1]}} {{stopId[2]}}</p> -->
    <div id="listGrid">
      <ul>
        <h3>Lista 1</h3>
        <li v-for="(departure, index) in departures[0]" :key="index">
          {{departure.sname}} mot
          {{departure.direction}} avgår kl
          {{departure.time}} om
          {{departure.diff}} minuter
        </li>
      </ul>
      <ul>
        <h3>Lista 2</h3>
        <li v-for="(departure, index) in departures[1]" :key="index">
          {{departure.sname}} mot
          {{departure.direction}} avgår kl
          {{departure.time}} om
          {{departure.diff}} minuter
        </li>
      </ul>
      <ul>
        <h3>Lista 3</h3>
        <li v-for="(departure, index) in departures[2]" :key="index">
          {{departure.sname}} mot
          {{departure.direction}} avgår kl
          {{departure.time}} om
          {{departure.diff}} minuter
        </li>
      </ul>
    </div>
    <div id="bottomButton">
      <button type="submit" id="clearButton" @click="clearAllLists()">Clear lists</button>
    </div>
  </div>

</body>

</html>