* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

body {
    display: grid;
    justify-content: center;
    background-image: url("Concrete.jpg");
}

#app {
    display: grid;
    justify-content: center;

    background-image: url("swooshlogo1001.png");
    background-size: 650px;
    background-repeat: no-repeat;
    height: 300px;
    /* margin-bottom: -200px; */


}

#topLogo {
    padding: 20px;

}

#clock {
    display: grid;
    /* margin-left: 100px; */

    /* justify-content: center; */
    /* padding: 20px; */
    align-items: end;
    /* width: 200px; */
    justify-items: end;

}

#time {
    border-style: solid;
    width: fit-content;
    height: fit-content;
    background-color: #0079b4;
    padding: 3px;
}

#formGrid {
    display: grid;
    grid-template:
        'a b c'
    ;
    margin-top: 10px;
    /* justify-content: center; */
    width: 800px;
    font-variant: small-caps;
    color: white;
}

#leftGrid {
    display: grid;
    /* grid-template:
        'a'
        'b'; */
    width: 400px;
    height: 200px;

    align-items: end;

}

#midGrid {
    display: grid;
    width: 200px;
}

#rightGrid {
    display: grid;
    /* width: 200px; */
    justify-items: end;
    align-items: start;
    /* height: 200px; */
}

#formTitleCell {
    display: grid;
    /* width: 600px; */
    background-color: #0079b4;
    width: fit-content;
    border-style: solid;
    border-color: #0079b4;
}

h2 {
    display: grid;

}

#columsGrid {
    display: grid;
    grid-template:
        'a b'
    ;

    /* width: 600px; */
}

#formCell {
    display: grid;
    width: 400px;
    align-items: end;
    /* padding: 5px; */
}

#formSubmit {
    display: grid;
    grid-template:
        'labelText'
        'stop-input'
        'updateButton'
    ;
    gap: 5px;
    align-items: end;

    width: fit-content;
    /* border-style: solid;
    border-color:#0079b4; */

}

#stop-input {
    display: grid;
    width: fit-content;
    background-color: rgb(236, 231, 205);
    padding: 3px;

}

#labelText {
    width: fit-content;
    display: grid;
    background-color: #0079b4;
}

#updateButton {
    display: grid;
    width: 100px;
}

#favoritesCell {
    display: grid;
    justify-content: end;
    grid-template:
        'a'
        'b'
    ;
    gap: 10px;
    position: relative;
    z-index: 2;
    width: fit-content;
    /* height: 600px; */
    /* padding: 10px;
    margin: 5px; */
}

#formButtonCell {
    display: grid;
    justify-items: end;
}

#buttonContainer {
    display: grid;
    grid-template:
        '1'
        '2'
        '3';
    justify-items: end;
}

#listGrid {
    margin: 10px;
    padding: 5px;
    gap: 10px;
}

ul {
    display: grid;
    gap: 3px;
    margin-top: 10px;
    ;
}

li {
    display: grid;
    gap: 10px;
    width: fit-content;
    background-color: rgb(236, 231, 205);
    color: #0079b4;
    border-style: solid;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}



#clearButton {
    display: grid;
    justify-self: center;
    width: 200px;
    height: 35px;
}

#bottomButton {
    background-image: url(bottomLine.png);
    background-size: contain;
}

button {
    background-color: #0079b4;
    padding: 5px;
    color: white;
}

@media (max-width: 850px) {
    #app {
        display: grid;
        justify-content: center;

        background-image: url("swooshlogo1001_sm.png");
        background-size: 400px;
        background-repeat: no-repeat;
        height: 300px;
        margin-left: 15px;
    }

    #formGrid {
        display: grid;
        grid-template:
            'leftGrid midGrid'
            'rightGrid rightGrid'
        ;
        margin-top: 10px;
        /* justify-content: center; */
        width: 450px;
        font-variant: small-caps;
        color: white;
        gap: 3px;
    }

    #leftGrid {
        display: grid;
        /* grid-template:
            'a'
            'b'; */
        width: 300px;
        height: 200px;

        align-items: end;

    }

    #formButtonCell {
        display: grid;
        justify-items: start;
        align-items: start;
    }

    #rightGrid {
        display: grid;
        width: 300px;
        justify-items: start;
        align-items: start;
        /* height: 200px; */
    }

    #favoritesCell {
        display: grid;
        justify-content: start;
        grid-template:
            'a'
            'b'
        ;
        gap: 10px;
        z-index: 2;
        /* height: 600px; */
        /* padding: 10px;
        margin: 5px; */
    }

    #buttonContainer {
        display: grid;
        grid-template:
            '1 2';
        justify-items: start;
    }

    #formCell {
        display: grid;
        width: 300px;
        align-items: end;
        /* padding: 5px; */
    }

    #columsGrid {
        display: grid;
        grid-template:
            'a'
            'b'
        ;

        /* width: 600px; */
    }
}

@media (min-width: 851px) {

    #rightGrid {
        display: grid;
        width: 200px;
        justify-items: end;
        align-items: start;
        height: 200px;
    }

}