* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

body {
    display: grid;
    justify-content: center;
    background-image: url("Concrete.jpg");
}

#app {
    display: grid;
    justify-content: center;

    background-image: url("swooshlogo1001.png");
    background-size: 600px;
    background-repeat: no-repeat;
    height: 250px;
    margin-bottom: -200px;


}

#topLogo {
    padding: 20px;

}

#clock {
    display: grid;
    margin-left: 100px;
    
    /* justify-content: center; */
    padding: 20px;

}

#time {
    border-style: solid;
    width: fit-content;
    background-color: #0079b4;
    padding: 3px;
}

#formGrid {
    display: grid;
    grid-template:
        'a b'
    ;
    margin-top: 10px;
    justify-content: center;
    width: 800px;
    font-variant: small-caps;
    color: white;
}

#leftGrid {
    display: grid;
    width: 500px;
}

#rightGrid {
    display: grid;
    width: 300px;
    justify-items: end;
}

#formTitleCell {
    display: grid;
    /* width: 600px; */
    background-color: #0079b4;
    width: fit-content;
    border-style: solid;
    border-color:#0079b4;
}

h2 {
    display: grid;
    
}

#columsGrid {
    display: grid;
    grid-template:
        'a b'
    ;
    
    /* width: 600px; */
}

#formPartCell {
    display: grid;
    grid-template:
        'formSubmit'
        'stop-input'
        'updateButton'
    ;
    padding: 5px;
}

#formSubmit {
    display: grid;
    gap: 5px;
    width: fit-content;
    /* border-style: solid;
    border-color:#0079b4; */

}

#stop-input {
    display: grid;
    width: fit-content;
    background-color: rgb(236, 231, 205);
    padding: 3px;

}

#labelText {
    width: fit-content;
    background-color: #0079b4;
}

#updateButton {
    display: grid;
}

#favoritesCell {
    display: grid;
    justify-content: center;
    grid-template:
        'a'
        'b'
    ;
    gap: 10px;
    /* padding: 10px;
    margin: 5px; */
}

#buttonContainer {
    display: grid;
    grid-template:
        '1'
        '2'
        '3';
    justify-items: end;
}

#listGrid {
    margin: 10px;
    padding: 5px;
    gap: 10px;
}

ul {
    display: grid;
    gap: 3px;
    margin-top: 10px;
    ;
}

li {
    display: grid;
    gap: 10px;
    width: fit-content;
    background-color: rgb(236, 231, 205);
    color: #0079b4;
    border-style: solid;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}



#clearButton {
    display: grid;
    justify-self: center;
    width: 200px;
}

button {
    background-color: #0079b4;
    padding: 5px;
    color: white;
}